:root {
 --color-white: #f5f5f5;
 --color-gray: #e5e5e5;
 --color-red: #f05454;
 --color-lightRed: #ea5455;
 --color-blue: #30475e;
 --color-lightBlue: #2d4059;
 --color-black: #121212;
 --color-baige: #decdc3;
}
